volumes:
  prometheus-data:
  grafana-data:
  traefik-acme:

networks:
  monitoring-net:
    external: true

services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: always
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.filename=/etc/traefik/config.yml
      - --entrypoints.web.address=:80
    ports:
      - "4000:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/config.yml:/etc/traefik/config.yml:ro
    networks:
      - monitoring-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    networks:
      - monitoring-net
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - --web.enable-remote-write-receiver
      - --config.file=/etc/prometheus/prometheus.yml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=PathPrefix(`/prometheus`)"
      - "traefik.http.routers.prometheus.entrypoints=web"
      - "traefik.http.routers.prometheus.middlewares=prometheus-strip@docker,prometheus-auth@file"
      - "traefik.http.middlewares.prometheus-strip.stripPrefix.prefixes=/prometheus"

  loki:
    image: grafana/loki:3.4.2
    container_name: loki
    restart: always
    networks:
      - monitoring-net
    volumes:
      - ./config/loki-config.yaml:/etc/loki/local-config.yaml:ro
    command: -config.file=/etc/loki/local-config.yaml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.loki.rule=PathPrefix(`/loki`)"
      - "traefik.http.routers.loki.entrypoints=web"
      - "traefik.http.routers.loki.middlewares=loki-strip@docker,loki-auth@file"
      - "traefik.http.middlewares.loki-strip.stripPrefix.prefixes=/loki"

  alloy:
    image: grafana/alloy:v1.7.5
    container_name: alloy
    restart: unless-stopped
    networks:
      - monitoring-net
    volumes:
      - ./config/config.alloy:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: >
      run --server.http.listen-addr=0.0.0.0:12345
          --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    depends_on:
      - loki
      - prometheus

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    networks:
      - monitoring-net
    volumes:
      - ./config/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml:ro
      - ./config/dashboard.yaml:/etc/grafana/provisioning/dashboards/dashboard.yaml:ro
      - ./config/dashboard.json:/var/lib/grafana/dashboards/dashboard.json:ro
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
      - loki
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=PathPrefix(`/`)"
      - "traefik.http.routers.grafana.entrypoints=web"
      # - "traefik.http.routers.grafana.middlewares=grafana-strip@docker,grafana-auth@file"
