apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: ${PROMETHEUS_BASE_URL}
    isDefault: true
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: 'http://loki:3100/loki'
    version: 1
    editable: true